fastmcp
chromadb
numpy
sentence-transformers
pypdf
python-docx
requests
fastapi
uvicorn
beautifulsoup4
langchain
langchain-chroma
langchain-huggingface
huggingface_hub[hf_xet]
langchain-deepseek
langchain-kimi
langchain-anthropic
langchain-openai
langchain-community
openai